/3065F94B-AA6E-483D-BB00-37E7B9BF5D66.png
/402.jpg
/403.jpg
/404.jpeg
/601.jpeg
/bangkok_icon.png
/BankSlip.py
/detected.png
/HSR
/HSR_Button_Play.png
/HSR_Game_Icon.png
/HSR_Launcher_TopLeft.png
/HSR_Launcher_TopRight.png
/images
/IMG_1564.png
/IMG_1564_1.png
/kasikorn_icon.png
/mouseTracker.py
/ocr_text.txt
/OpenCVMatchPic.py
/openCVTemplateIcon
/PaintExample.py
/res.png
/scb_icon.png
/ScreenShotMouse.py
/ShowImage.py
/start_button.png
/sushigoround.zip
/sushigoroundbot.py
/tesseractfonts-master
/tesseractfonts-master.zip
/tesseractLangText.py
/test.py
/Test1.png
/Test2.png
/TextFromImage.py
/tkinterSample.py
/UOB.jpg